.remark_content {
    min-height: 800px;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 50px;
    background-color: #fff;
}
.remark_content .form {
    margin: 0 20px;
}
.remark_content p {
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
}
.remark_content label {
    margin-bottom: 10px;
    color: #333;
}
.remark_content  label > input:focus {
    outline:none;
}
.remark_content .form div > span {
    margin-right: 8px;
}

.remark_content div>span img {
    opacity: .5;
}
.remark_content div > .opacity img {
    opacity: 1;
}
.remark {
    width: 80%;
    margin: 20px;

}
button {
    background-color: #040404;
    color: #fff;
    outline: none;
    float:right;
    margin-right: 300px;
    border-radius: 5px;
    width: 70px;
    height: 34px;
    display: block;
}

/*用户评论部分开始*/
.remark_list {
     padding: 40px 0;
     margin: 0 20px;
}

.remark_list img {
    float:left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.remark_list .name_date {
    float: right;
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.remark_list .name_date .name {
    color: #000;
}
.remark_list .name_date .data {
    color: #999;
    font-size: 12px;
}
.remark_list .top {
    position: relative;
    border-bottom: #ececec 1px solid;
    padding-bottom: 20px;
}
.remark_content .remark_list .top p {
    position:absolute;
    bottom: 8px;
    left: 58px;
    color: #333;
    font-size: 15px;
    font-weight: normal;
}
.remark_list .bottom {
    padding: 10px 0 20px;
    border-bottom: #dedddd 1px dashed;
}
.remark_list_item {
    margin-top: 30px;
}
.head_photo span img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}